body {
    background-color: orange;
}

.container {
    background-color: white;
    margin-right: 252px;
    margin-left: 252px;
    padding: 16px;
}

.customButton {
    display: flex;
    padding: 10px;
    right: 10px;
}

.subContainer {
    display: flex;
    align-items: baseline;

}

.subContainer>h3 {
    padding-right: 32px;
}