body {
    background-color: orange;
  }

.tableContainer {
    border: 2px solid black;
}


.container {
    display: flex;
    justify-content: space-around;

}




/* table tr:nth-child(odd) {
    background-color: beige;
} */

th {
    background-color: antiquewhite;
}

table {
    border-collapse: collapse;
}

table td {
    border: 10px solid orange;
    padding: 8px;
}

/* table td:first-child {
    border-left: none;
} */

.linkDet {
    color: white;
    background-color: blue;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    width: 200px;
}

.linkEdit {
    color: black;
    background-color: red;
    text-decoration: none;
    cursor: pointer;
    width: 200px;
}