body {
    background-color: orange;
}

.tableContainer {
    border: 2px solid white;
}

.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
}

.tableContainer {
    border: 2px solid white;
    margin-top: 20px; /* Agrega un espacio entre la tabla y el borde superior del contenedor */
}


table {
    border-collapse: collapse;
    background-color: white;
}

table td {
    padding: 8px;
    border-bottom: 10px solid orange; 
}

.nameCell {
    border-bottom: 2px solid white;
    display: flex; 
    justify-content: center;
    font-weight: bold;
}

.linkDet {
    color: white;
    background-color: blue;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    width: 200px;
}

.linkEdit {
    color: black;
    background-color: red;
    text-decoration: none;
    cursor: pointer;
    width: 200px;
}
