.tableContainer {
    border: 2px solid black;


}
body {
    background-color: rgb(230, 219, 198);
}

.container {
    background-color: orange;
    display: flex;
    justify-content: space-around;

}




/* table tr:nth-child(odd) {
    background-color: beige;
} */

th {
    background-color: antiquewhite;
}

table {
    border-collapse: collapse;
}

table td {
    border: 10px solid orange;
    padding: 8px;
}

/* table td:first-child {
    border-left: none;
} */

.link {
    color: black;
    background-color: gray;
    text-decoration: none;
    cursor: pointer;
}