

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: chocolate;
  }
  
  .container2 {
    display: flex;
    justify-content: space-around;
    margin-left: 47px;
    margin-right: 47px;
  }
  
  .linkStyle {
    color: black;
    background-color: ;
    text-decoration: none;
    cursor: pointer;
  }