body {
  background-color: orange;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

select {
  margin-bottom: 50px;
}

.checkboxContainer {
  margin-bottom: 20px;
}


.formContainer>form>label {
  padding-top: 8px;
  padding-bottom: 8px;
}

.formContainer>form>input {
  margin-top: 8px;
  margin-bottom: 8px;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}